.app-screenshot-container {
  position: relative;

  .app-screenshot-phone {
    width: 600px;
    height: 600px;
  }

  .app-screenshot {
    position: absolute;
    height: 340px;
    width: 245px;
    transition: all .3s ease-out;

    &.left {
      left: 173.1px;
      top: 122.3px;
      transform: matrix(0.88, -0.236, 0.555, 0.96, 0, 0);
    }

    &:hover {
      // transform: matrix(0.88, -0.236, 0.555, 0.96, 0, 0) translate(3px, -4px);
      box-shadow: -3px 4px 20px 2px rgb(203, 252, 255);
      cursor: pointer;
    }
  }
}
