.app-fade-enter-active, .app-fade-leave-active {
  transition: opacity 1.5s ease-out .3s;
}


// .app-fade-enter, .app-fade-leave-to {
//   opacity: 0;
// }

// ..app-fade-leave, .app-fade-enter-to {
//   opacity: 1;
// }

// .app-fade-enter-active, .app-fade-leave-active {
//   transition: opacity .5s 'ease-out' .8s;
// }

.app-fade-enter-active {
  animation: appFadeIn .5s;
}

.app-fade-leave-active {
  animation: appFadeOut .5s;
}

@keyframes appFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes appFadeOut {
  100% { opacity: 1; }
  0% { opacity: 0; }
}